@charset "UTF-8";
/* general */
/* phones */
/* header */
.background-title {
  background-color: #EAEAEA;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* réservez le menu */
.background-reservez {
  background-color: #F3F3F3;
  padding-top: 1px;
  padding-bottom: 40px;
}

.button-hover:hover {
  opacity: 1;
}

/* fonctionnement */
.color-icon-fonctionnement {
  color: #7E7E7E;
}

.color-icon-fonctionnement-hover:hover {
  color: #9356DC;
}

/* restaurants */
.background-restaurants {
  background-color: #F3F3F3;
  padding-bottom: 20%;
}

.heart-hover {
  color: transparent;
}

.heart-hover:hover {
  transform-origin: 50% bottom;
  color: linear-gradient(#FF79DA, #9356DC);
}

/* footer */
.background-footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #353535;
}

.color-text-footer {
  color: white;
  margin-left: 4%;
}

/* menu */
.background-menu {
  width: 100%;
  background-color: #F3F3F3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  margin-top: -40px;
  padding-bottom: 20px;
}

.border-text-menu {
  border-bottom: 3px solid #99E2D0;
}

.card-menu {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
  margin-top: 15px;
}

.card-margin {
  margin-left: 4%;
  margin-right: 4%;
}

/* desktop */
@media (min-width: 768px) {
  /* restaurants */
  .background-restaurants {
    padding-bottom: 0;
  }
  /* footer */
  .background-footer {
    padding-top: 40px;
  }
  .background-menu {
    width: 60%;
    margin-left: 22%;
  }
}
/* phones */
/* header */
.direction-arrow {
  position: relative;
  bottom: 35px;
  left: 6%;
}

/* fonctionnements */
.circle {
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
}

.margin-icon {
  margin-left: -95%;
  margin-right: 20px;
  margin-top: -0.5%;
}

.margin-icon-two {
  margin-left: -20%;
  margin-right: 20px;
}

/* restaurants */
.icon-position {
  position: relative;
  left: 85%;
  bottom: 30px;
}

/* footer */
.margin-logo-footer {
  margin-right: 3%;
}

/* menu la palette du goût */
.heart-position {
  padding-left: 14%;
}

/* desktop */
@media (min-width: 768px) {
  /* header */
  .direction-arrow {
    bottom: 40px;
    left: 3%;
  }
  /* restaurants */
  .icon-position {
    left: 90%;
  }
  /* menu la palette du goût */
  .heart-position {
    padding-left: 5%;
  }
}
/* phones */
/* réservez le menu */
.style-button-explorer {
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-width: 0;
  width: 218px;
  height: 50px;
  font-size: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.style-button-commander {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-width: 0;
  width: 186px;
  height: 50px;
  font-size: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.style-button-commander:hover {
  transform: scale(1.15);
}

.position-btn-commander {
  text-align: center;
  justify-content: center;
}

/* phones */
/* home */
.direction-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-size {
  width: 43%;
  padding-top: 5%;
  margin-bottom: 3%;
  font-family: "Shrikhand", sans-serif;
}

.arrow-direction {
  display: none;
  color: black;
  position: relative;
  right: 60%;
  top: 20px;
}

/* menu la palette du goût */
.image-palette {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/* desktop */
@media (min-width: 768px) {
  .logo-size {
    width: 200px;
    height: 34.2px;
    padding-top: 2%;
    margin-bottom: 1%;
  }
}
/* phone */
/* réservez le menu */
.localisation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-reservez {
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
}

.padding-title {
  padding-left: 15px;
  font-family: "Roboto", sans-serif;
  size: 16px;
}

.margin-reservez-title {
  margin-left: 20%;
  margin-right: 20%;
}

.margin-reservez-subtitle {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: -2%;
  margin-bottom: 8%;
}

/* desktop */
@media (min-width: 768px) {
  /* réservez le menu */
  .margin-reservez-title {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 40px;
    font-weight: 700;
  }
  .margin-reservez-subtitle {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 18px;
    font-weight: 300;
  }
}
/* phones */
/** Fonctionnement **/
.margin-text-fonctionnement {
  margin-left: 10%;
}

.margin-fonctionnement {
  margin-left: 8%;
  margin-right: 5%;
}

.border-fonctionnement {
  width: 100%;
}

.border-fonctionnement {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background-color: #F3F3F3;
  filter: drop-shadow(0px 3px 2px grey);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 4%;
}

.text-border-fonctionnement {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* desktop */
/* phones */
/*** restaurants ***/
.row-direction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.margin-restaurants {
  margin-left: 4%;
  margin-right: 4%;
}

.padding-title-restaurants {
  padding-top: 15%;
  padding-bottom: 4%;
  padding-left: 9%;
}

.card {
  width: 100%;
  height: 251px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.encadre-nouveau {
  border: solid transparent;
  border-radius: 2px;
  width: 80px;
  height: 20px;
  margin: 0;
  background-color: #99E2D0;
  color: #008766;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  position: relative;
  left: 70%;
  top: -95%;
}

.card-text {
  width: 100%;
  padding-left: 15px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-title-restaurants {
  margin-top: 2%;
  margin-bottom: 0;
}

.texte-subtitle-restaurants {
  margin-top: 1%;
  margin-bottom: 0;
}

/* desktop */
@media (min-width: 768px) {
  /* restaurants */
  .row-direction {
    flex-direction: row;
  }
  .margin-restaurants {
    margin-left: 6%;
    margin-right: 6%;
  }
  .padding-title-restaurants {
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 9%;
  }
  .card {
    margin-left: 3%;
    margin-right: 3%;
  }
  .encadre-nouveau {
    left: 80%;
    top: -100%;
  }
}
/* phones */
/**** footer ****/
.display-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-footer {
  color: white;
  font-family: "Shrikhand";
  font-size: 19.2px;
  margin-left: 6%;
  padding-bottom: 2%;
}

.margin-footer {
  margin-bottom: 4%;
}

.border-footer {
  border-bottom: 2px solid transparent;
}

.footer-hover:hover {
  border-bottom-color: white;
}

/* desktop */
.title-menu {
  font-family: "Shrikhand", italic;
  font-weight: 400;
  font-size: 28px;
  padding-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.text-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 65px;
  margin-left: 10px;
}

.margin-text-cards {
  margin-bottom: 5px;
}

.margin-article {
  margin-top: 15%;
}

.text-font-title {
  font-size: 18px;
  font-weight: 500;
}

.text-font-subtitle {
  font-size: 15px;
  font-weight: 300;
}

.prix {
  position: relative;
  left: 87%;
  bottom: 50px;
}

/* desktop */
@media (min-width: 768px) {
  .title-menu {
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 10%;
  }
  .margin-article {
    margin-top: 7%;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}

.list-style {
  list-style: none;
  padding-left: 0;
  padding: 0;
}

.loader {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress_bar {
  background-color: aqua;
  border-radius: 10px;
  width: 400px;
  height: 20px;
}

@media (min-width: 768px) {
  /** Fonctionnement **/
  .margin-fonctionnement {
    padding-left: 10%;
    margin-left: 0;
    margin-right: 6%;
  }
  /**** footer ****/
  .display-footer {
    width: 50%;
    flex-direction: row;
    margin-bottom: -10px;
    padding-left: 30%;
  }
  .logo-footer {
    display: block;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 88%;
    margin-bottom: -40px;
  }
  .text-align {
    white-space: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
