/* phones */

/**** footer ****/

.display-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-footer {
    color: white;
    font-family: 'Shrikhand';
    font-size: 19.2px;
    margin-left: 6%;
    padding-bottom: 2%;
}

.background-footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $black;
}

.color-text-footer {
    color: white;
    margin-left: 4%;
}

.margin-footer {
    margin-bottom: 4%;
}

.border-footer {
    border-bottom: 2px solid transparent;
}

.footer-hover:hover {
    border-bottom-color: white;
}


/* tablette */
@media (min-width: 768px) {

    .background-footer {
        width: 100%;
    }
   
}

/* desktop */

@media (min-width: 1024px) {


    .background-footer {
        width: 100%;
        padding-top: 40px;
    }

    .background-menu {
        width: 60%;
        margin-left: 22%;
    }
    
    .display-footer {
        width: 50%;
        flex-direction: row;
        margin-bottom: -20px;
        margin-left: 40%;
        justify-content: initial;
    }


    .logo-footer {
        display: block;
        margin-left: 0;
        padding-bottom: 0;
        padding-left: 88%;
        margin-bottom: -38px;
        font-size: 18px;
    }

    .text-align {
        white-space: nowrap;
        padding-right: 15px;
        font-size: 13px;
    }

}