/* menu */

.background-menu {
    width: 100%;
    margin-left: 0;
    background-color: $white-grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    margin-top: -60px;
    padding-bottom: 20px;
}

.border-text-menu {
    border-bottom: 3px solid $light-green;
}

.card-menu {
    width: 349px;
    height: 69px;
    display: flex;
   justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    margin-top: 15px;


}


.color-check {
    color: black;
    padding-top: 25px;
    
}

.color-check:hover {
    color: black;
    animation-delay: 1s;
}


.card-margin {
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    
   
}


/* desktop */
@media (min-width: 768px) {
    .card-margin {
        margin-left: 20%;
        margin-right: 20%;
    }
    

    .background-menu {
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }


}