

.title-menu {
    font-family: 'Shrikhand', italic;
    font-weight: 400;
    font-size: 28px;
    padding-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}


.text-menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.margin-text-cards {
    margin-bottom: 5px;
}

.margin-article {
    margin-top: 15%;
}

.text-font-title {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid white;
}

.text-font-subtitle {
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid white;
}

.prix {
    position: relative;
    left: 160%;
    bottom: 50px;
    transition: translate 1s;
}



/* desktop */
@media (min-width: 768px) {

.title-menu {
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 5%;
}

.margin-article {
    margin-top: 7%;
}


}