/* phones */

/* header */

.direction-arrow {
    position: relative;
    bottom: 35px;
    left: 6%;

}

/* fonctionnements */
.circle {
    background: $violet;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
}

.margin-icon {
    margin-left: -95%;
    margin-right: 20px;
    margin-top: -0.5%;
}

.margin-icon-two {
    margin-left: -20%;
    margin-right: 20px;
}

/* restaurants */

.heart-position {
    position: relative;
    left: 70%;
    bottom: 30px;
}

.heart-position-two {
    position: relative;
    left: 84%;
    bottom: 46px;
}

/* footer */

.margin-logo-footer {
    margin-right: 3%;
}


/* menu */

.heart-menu-position {
    padding-left: 14%;
}

.heart-menu-position-two {
    position: relative;
    left: 86.8%;
    bottom: 41px;
}



/* desktop */
@media (min-width: 768px) {

    /* header */

.direction-arrow {
    bottom: 40px;
    left: 3%;
}

    /* restaurants */

    .heart-position {
        left: 79%;
    }

    /* menu la palette du goût */

.heart-position {
    padding-left: 5%;
}

}