/* phones */

/* header */

.direction-arrow {
    position: relative;
    bottom: 35px;
    left: 6%;

}

/* fonctionnements */
.circle {
    background: $violet;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
}

.margin-icon {
    margin-left: -95%;
    margin-right: 20px;
    margin-top: -0.5%;
}

.margin-icon-two {
    margin-left: -20%;
    margin-right: 20px;
}

/* restaurants */

.heart-position {
    max-width: 20px;
    position: relative;
    left: 84%;
    bottom: 30px;
}

.heart-position-two {
    max-width: 20px;
    position: relative;
    left: 84%;
    bottom: 46px;

    &:hover {
        color: $violet;
    }
}

.heart-color {
    color: transparent;
}



/* footer */

.margin-logo-footer {
    margin-right: 3%;
}


/* menu */

.heart-menu-position {
    padding-left: 10%;
}

.heart-menu-position-two {
    position: relative;
    left: 86.8%;
    bottom: 41px;

    &:hover {
        color: $violet;
    }
}



/* desktop */
@media (min-width: 768px) {

    /* header */

    .direction-arrow {
        bottom: 30px;
        left: 7%;
    }

    /*fonctionnement*/

    .margin-icon {
        margin-left: -108%;

    }

    /* restaurants */

    .heart-position {
        left: 86%;
    }

    .heart-position-two {
        left: 91%;
    }

    /* menu */

    .heart-position {
        padding-left: 5%;
    }

    .heart-menu-position-two {
        left: -4%;
        bottom: 0px;
    }

}

@media (min-width: 1024px) {

    /* header */

    .direction-arrow {
        bottom: 30px;
        left: 15%;
    }

    /*fonctionnement*/

    .margin-icon {
        margin-left: -94%;
    }

    /* restaurants */

    .heart-position {
        left: 79%;
    }

    /* menu */

    .heart-position {
        padding-left: 5%;
    }

    .heart-menu-position-two {
        left: -3.7%;
    }
}